[submodule "flower"]
	path = flower
	url = https://github.com/Gnova25/Lucia_Gin-s-animation-project.git
[submodule "intro_slide"]
	path = intro_slide
	url = https://github.com/mr-chris-reed/intro_slide.git
[submodule "pyramids"]
	path = pyramids
	url = https://github.com/CadeFandl/test_animation_2.git
[submodule "star_wars"]
	path = star_wars
	url = https://github.com/BHef24/Star_Wars.git
[submodule "twocats"]
	path = twocats
	url = https://github.com/HenryAul/Animation-Attempt-01.git
[submodule "car_vroom_project"]
	path = car_vroom_project
	url = https://github.com/JadenHannon/car_vroom_project.git
[submodule "turtle"]
	path = turtle
	url = https://github.com/22dreinert/CS-Animation-Project.git
[submodule "space_cow"]
	path = space_cow
	url = https://github.com/Nick-Winkler25/Anamation-Project.git
[submodule "car"]
	path = car
	url = https://github.com/JadenHannon/car_vroom_project.git
[submodule "lightsaber"]
	path = lightsaber
	url = https://github.com/25cshook/Co_animation_proj.git
[submodule "pee_dog"]
	path = pee_dog
	url = https://github.com/Simxn3/PeeingDogAndFlower.git
[submodule "cat"]
	path = cat
	url = https://github.com/25eulman/moyer_animation.git
[submodule "tree"]
	path = tree
	url = https://github.com/TylerPham2/Tree-Animation-Project.git
